* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

header {
  background-color: #116466;
  height: 10vh;
}

nav {
  max-width: 50vw;
  width: auto;
  padding: 0 20vw;
  margin: 0 auto;
  position: fixed;
}

a {
  color: #d1e8e2;
}

a:hover {
  color: #98afa9;
  text-decoration: none;
}

.navbar-nav {
  margin: auto;
  padding: 1vh 2vh;
}

.nav-item {
  min-width: 5vw;
  width: auto;
  height: 6vh;
  margin: 0 1vw;
  text-align: center;
  line-height: 4vh;
}

body {
  background-color: #2e3733;
  color: #d1e8e2;
  height: 100vh;
}

.main {
  height: 80vh;
  margin: 0 auto;
  padding: 0 20vw;
  overflow-y: scroll;
}

.content {
  max-width: 50vw;
  width: auto;
  height: 100%;
  margin: auto;
  padding: 3vh;
}

#content-about {

}

#content-projects {
  
}

h6 {
  color: #d9b08c;
}

footer {
  background-color: #116466;
  height: 10vh;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}