/*
COLORS:

#2c3531
#116466
#d9b08c
#ffcb9a
#d1e8e2
*/

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #d1e8e2;
}

header, footer {
  background-color: #116466;
  height: 100px;
  width: auto;
}

nav {
  width: auto;
  height: 100%;
  padding: 10px;
  margin: 0 auto;
  position: fixed;
}

a {
  color: #d1e8e2;
}

a:hover {
  color: #98afa9;
  text-decoration: none;
}

.navbar-nav {
  margin: auto;
  padding: 10px;
}

.nav-item {
  min-width: 70px;
  width: auto;
  height: 60px;
  margin: 0 10px;
  text-align: center;
  line-height: 38px;
}

body {
  background-color: #2e3733;
  margin: 0 auto;
}

.main {
  height: 85.2vh;
  margin: 0 auto;
  padding: 0 50px;
  overflow-y: scroll;
  width: 720px;
}

.content {
  min-height: 25vh;
  height: auto;
  width: 720px;
  margin: 25px auto;
}

#content-about {

}

#content-projects {

}

h6 {
  color: #d9b08c;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}
